div input {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

ul li {
  border: 1px solid #4285F4;
  border-radius: 4px;
  margin: 10px;
  border-top: 2px solid #4285F4;
}

ul li a {
  font-size: 1.4em;
  padding: 5px;
}

ul li div {
  border-bottom: 1px solid #4285F4;
}

.jumbotron ul p {
  font-size: 1.1em;
  padding: 5px;
}

ul a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
